<form *ngIf="data" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
<div *ngFor="let obj of data" class="form-group form-check">
<ng-container *ngIf="obj.hidden !== 'true'">
  <label [for]="obj.field">{{obj.label}}: </label>
  <input class="form-check-input" [ngClass]= "{'form-error': isFieldValid(obj.field)}" [id]="obj.field" [type]="obj.type =='check'?'checkbox':obj.type" [formControlName]="obj.field">
  </ng-container>
  <div *ngIf ="isFieldValid(obj.field)">{{obj.label}} is required</div>
</div>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

  <p>Form Status: {{ profileForm.status }}</p>
